@font-face {
  font-family: 'Roboto';
  src: url(./fonts/roboto-regular-webfont.woff2) format('woff2'),
    url(./fonts/roboto-regular-webfont.woff) format('woff');
}
:root {
  --orange: #fde047;
  --gray: #e2e8f0;
}

.trending > div > div :nth-child(2),
.article p,
.announce > div > p {
  color: rgb(72, 71, 71);
}

body {
  font-family: 'roboto';
  margin: 0;
}

.icon {
  height: 25px;
  width: auto;
  margin-right: 25px;
}
.prof-pic {
  height: 50px;
  width: auto;
  margin-right: 25px;
  border-radius: 100%;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

/* dashboard */

.dashboard {
  background-color: var(--orange);
  grid-area: 1/1/3/2;
}

.dashboard h1 {
  display: inline;
  color: #003153;
}
.dashboard ul {
  margin-left: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px;
}

.dashboard ul li,
.dashboard span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dash-img {
  height: 50px;
  width: auto;
  display: inline;
  margin-left: 15px;
  margin-right: 10px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

li :hover {
  text-decoration: underline;
  color: rgb(215, 55, 55);
}

li a {
  text-decoration: none;
  font-size: x-large;
  color: #003153;
  font-weight: normal;
}

/* header */
header {
  margin: 0;
  grid-area: 1/2/2/3;
  padding: 10px;
}
.topnav {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.topnav .icon {
  margin-left: 25px;
}

#search {
  display: flex;
  justify-content: start;
  align-items: center;
}
#search img {
  height: 35px;
  width: auto;
  position: absolute;
  left: 11px;
  z-index: -5;
}

#search {
  position: relative;
  flex: 1;
  display: flex;
}

#search input[type='submit'] {
  height: 35px;
  width: 35px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: white;
  border-radius: 25px;
}

#search input[type='submit']:hover {
  background-color: rgba(233, 140, 9, 0.467);
  border: black;
}

#search input[type='search'] {
  height: 35px;
  background-color: var(--gray);
  border-radius: 25px;
  border: white;
  font-size: 1em;
  flex: 1;
  text-indent: 15px;
}

.topnav p {
  font-weight: bold;
  font-size: 1em;
  margin-right: 20px;
}

.bottomnav {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bottomnav .prof-pic {
  height: 70px;
  margin-left: 10px;
}

.bottomnav > span {
  flex: 1;
}

.bottomnav > .button {
  height: 40px;
  width: 80px;
  background-color: var(--orange);
  border-radius: 20px;
  margin: 15px;
  color: #003153;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.bottomnav > span > p {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 0.8em;
}

.bottomnav > span > p + p {
  font-size: x-large;
  margin-top: 0;
}

/* main grid */

.content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: var(--gray);
}

.projects {
  grid-area: 1/1/2/2;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  position: relative;
  padding-top: 40px;
}
.projects > h2 {
  position: absolute;
  top: -10px;
  font-size: 1.2em;
}

.article {
  border-left: 7px solid var(--orange);
  border-radius: 10px;
  padding: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}
.article > div {
  display: flex;
}
.article > div > div {
  flex: 1;
}
.article h3,
.article p {
  margin: 0;
}

.article p {
  flex: 1;
  margin-bottom: 15px;
}

/* sidebar */

.sidebar {
  padding-top: 40px;
  margin-top: 30px;
  margin-right: 20px;
}
.announce {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}
.announce div + div {
  border-top: 2px solid var(--gray);
}

.announce > h2,
.trending > h2 {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 1.2em;
}
.announce > div > h3 {
  margin: 16px 0 0 0;
  font-size: 1em;
}

.announce > div > p {
  margin-top: 0;
  font-size: 0.8em;
}
.announce :nth-child(2) > h3 {
  margin-top: 0;
}
.trending {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-top: 60px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}
.trending > div {
  display: flex;
  align-items: center;
}
.trending > div > div > p {
  margin: 0;
}
.trending > div > div {
  padding: 10px;
}

.trending > div > div :nth-child(2) {
  font-size: 0.8em;
  color: rgb(72, 71, 71);
}
